@{
    ViewBag.Title = "Acerca de Nosotros";
}

<script type="text/javascript" charset="UTF-8"
        src="https://maps.googleapis.com/maps-api-v3/api/js/49/8/intl/es_ALL/common.js"></script>
<script type="text/javascript" charset="UTF-8"
        src="https://maps.googleapis.com/maps-api-v3/api/js/49/8/intl/es_ALL/util.js"></script>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Visitar Cobán significa un poco de frío y lluvia o chipi chipi, las montañas verdes en los alrededores y algunas casas muy antiguas con ese toque colonial y esa herencia alemana que se mezcla con la ancestral cultura q’eqchí.

    Las habitaciones de nuestro hotel le brindan las facilidades y comodidades de la era contemporánea entre las paredes de un edificio con más de 300 años de historia en Cobán. Con amplios corredores y un jardín central que le dan un ambiente único.

    Estamos localizados en el centro de la ciudad de Cobán, una ubicación de fácil acceso con un amplio parqueo y con todo tipo de amenidades en los alrededores del Hotel.

    Ya sea que su visita sea por trabajo o por descanso, estamos seguros que va a disfrutar su estadía, por nuestra parte le facilitaremos su alojamiento y le brindaremos un atento servicio de primera calidad.

    Contamos con habitaciones sencillas y dobles, con baño privado, ducha calientes, servicio de WIFI.

    Visite nuestro Restaurante y deleite su paladar con las especialidades de nuestro Chef, desde muy temprano tenemos desayunos y café cobanero para comenzar el día con energía y por supuesto almuerzos y cenas.

    También lo invitamos a pasar por Blue Sport Bar y relajarse un poco del estrés del día con los amigos, buena música y las mejores bebidas.

    ¿Necesita un salón para una conferencia o curso? Tenemos un amplio salón en el que podrá realizar el evento que requiera con el apoyo de nuestro personal y la experiencia de nuestros años sirviendo a nuestros visitantes.
</p>

<div class="row">
    <div class="col-sm-6 col-lg-6">
        <div class="card m-0 p-1">
            <div class="card-body">
                <p>
                    Direccion	3a. calle 2-38 zona 3 | Cobán, Alta Verapaz<br />
                    Telefonos	77283358 - 57753451<br />
                    Email	delangelcoban@gmail.com<br />
                                                   <br />
                    Horario de Atencion <br />
                    Lun<br />
                    7:00am a 21:00pm<br />
                    Mar<br />
                    7:00am a 21:00pm<br />
                    Mie<br />
                    7:00am a 21:00pm<br />
                    Jue<br />
                    7:00am a 21:00pm<br />
                    Vie<br />
                    7:00am a 21:00pm<br />
                    Sab<br />
                    7:00am a 21:00pm<br />
                    Dom<br />
                    7:00am a 21:00pm<br />
                </p>
            </div>

        </div>

    </div>
    <div class="col-sm-6 col-lg-6">
        <div class="card m-0 p-1">
            <div class="card-body">
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe style="width: 100%; height: auto;" id="gmap_canvas" src="https://maps.google.com/maps?q=15.469048316151518,%20-90.3715149708581&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br>
                        <style>
                            .mapouter {
                                position: relative;
                                text-align: center;
                                height: 100%;
                                width: 100%;
                            }
                        </style><a href="https://www.embedgooglemap.net">google maps for web</a>
                        <style>
                            .gmap_canvas {
                                overflow: hidden;
                                background: none !important;
                                height: 100%;
                                width: 100%;
                            }
                        </style>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

